GEMINI_API_KEY=dfgsdfgs
XAI_API_KEY=your_xai_api_key_here
GROQ_API_KEY=your_groq_api_key_here
GROQ_MODEL=dfgdfgdf
ADZUNA_APP_ID=your_adzuna_app_id_here
ADZUNA_APP_KEY=your_adzuna_app_key_here
ADZUNA_COUNTRY_CODE=gb